@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #FFFCFA;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #FFFCFA;
}

pre {
  background-color: black;
  color: #fffcfa;
  padding: 8px;
  font-size: 12px;
  margin: 8px 0;
}

figure img {
  display: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media screen and (max-width:640px) {
  pre {
    white-space: break-spaces;
    margin: 4px 0;
    padding: 4px;
    font-size: 10px;
  }

}