@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #fffcfa;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

pre {
  background-color: black;
  color: #fffcfa;
  padding: 8px;
  font-size: 12px;
  margin: 8px 0;
}

figure img {
  display: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}